<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <application>
    <service
      android:name="expo.modules.googletvhome.GoogleTvHomePublishService"
      android:exported="false"
      android:foregroundServiceType="dataSync" />
  </application>
</manifest>
