# Global fallback
* @JesusFilm/engineering/forge

# Scope folders
/apps/web/ @JesusFilm/engineering/forge
/apps/cms/ @JesusFilm/engineering/forge
/packages/graphql/ @JesusFilm/engineering/forge
/apps/mobile/ @JesusFilm/engineering/forge
